@mixin title($fontSize, $color) {
    font-size: $fontSize;
    color: $color;
    font-weight: bold;
}

@mixin textStyle($fontSize, $color, $fontFamily: 'yekan') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
}

@mixin section($bgColor, $height, $gridTemplateColumns, $align) {
    background-color: $bgColor;
    min-height: $height;
    display: grid;
    grid-template-columns: $gridTemplateColumns;
    grid-gap: 0;
    justify-content: center;
    align-content: $align;
}

@mixin projectFeatures($bgColor, $textAlign, $padding: 2rem) {
    background-color: $bgColor;
    text-align: $textAlign;
    border-radius: 1.6rem;
    padding: $padding;
    align-items: center;
}

@mixin projectsShowHide($visibility, $maxHeight, $opacity) {
    visibility: $visibility;
    max-height: $maxHeight;
    opacity: $opacity;
    transition: opacity .5s ease-in, max-height .5s ease;
}

@mixin displayGrid($columns, $justify, $gap: 0) {
    display: grid;
    grid-template-columns: $columns;
    justify-content: $justify;
    grid-gap: $gap;
}

@mixin displayFlex($width, $justifyContent) {
    display: flex;
    width: $width;
    justify-content: $justifyContent;
}

@mixin lableStyle {
    justify-self: start;
    padding-right: 1.5rem;
    align-self: center;
    color: $thirdTextColor;
}

@mixin sliderArrow {
    position: absolute;
    top: 30%;
    cursor: pointer;
}

@mixin borderStyle($border, $radius) {
    border: $border;
    border-radius: $radius;
}

@mixin widthAndBgColor($width, $bgColor) {
    width: $width;
    background-color: $bgColor;
}

// mixins media query
@mixin xs() {
    @media only screen and (max-width: 575.99px) {
        @content;
    }
}

@mixin sm() {
    @media only screen and (min-width: 576px) {
        @content;
    }
}

@mixin md() {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin lg() {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

@mixin xl() {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}