$mainGreen: #20c5ba;
$secondGreen: #00baba;
$thirdGreen: #1abbb0;
$forthGreen: #1fc5b9;
$fifthGreen: #009191;

$mainDarkGreen: #0b3a42;
$secondDarkGreen: #155a6d;
$thirdDarkGreen: #0e7571;
$forthDarkGreen: #042623;
$fifthDarkGreen: #033432;

$descriptionFontSize: 1.8rem;
$generalFontSize: 1.6rem;

$mainBackgroundColor: #f5f7fa;
$secondLightColor: #eef2f7;
$thirdLightColor: #F6F8FB;

$whiteColor: #fff;

$firstBorderLightGray: #D8E1EF;
$secondBorderLightGray: #E7ECF4;

$mainDarkColor: #253343;

$mainTextColor: #6A7D9B;

$structureTabText: #9DB0CB;
$structureContentText: #697D9A;

$title1Size: 4rem;
$title2Size: 2.4rem;
$title3Size: 2.2rem;
$fontSize19: 1.9rem;
$fontSize18: 1.8rem;
$fontSize16: 1.6rem;