@import "variables";
@import "mixins";

@font-face {
    font-family: $fontFamily;
    src: url(../../assets/fonts/Yekan.eot),
        url(../../assets/fonts/Yekan.svg),
        url(../../assets/fonts/Yekan.ttf),
        url(../../assets/fonts/Yekan.woff);
}

html {
    direction: rtl;
    font-size: 62.5%;
}

body {
    font-family: $fontFamily;
    background-color: $mainBackgroundColor;
    font-size: $fontSize16;
    margin: 0;
    overflow-x: hidden;
}

button {
    font-family: $fontFamily;
    cursor: pointer;
}

input {
    @include borderStyle(.2rem solid $inputBorder, 1.2rem);
    @include widthAndBgColor(100%, $whiteColor);
    @include textStyle($fontSize16, $secondTextColor, $fontFamily);
    padding: .5rem 1.5rem 0.5rem 0;
    justify-self: end;

    &::placeholder {
        color: $secondTextColor;
    }


    &:focus-visible {
        outline: none;
    }
}

ul {
    list-style: none;
    padding: 0;

    li::before {
        content: "\2022";
        color: $mainGreen;
        font-weight: bold;
        width: 1rem;
        margin-left: 1.5rem;
        font-size: 3.5rem;
        display: inline-block;
        vertical-align: middle;
    }
}

.title1 {
    @include title($title1Size, $mainDarkGreen);
}

.title4 {
    @include title($fontSize16, $mainDarkColor);
    margin-top: 0;
    margin-bottom: 0;
}

.main-text {
    @include textStyle($fontSize16, $mainTextColor);
}

.projects {
    @include section(inherit, 100vh, 70%, start);

    @include xs {
        grid-template-columns: 90%;
    }
}

.projects__title {
    text-align: center;

    @include xs {
        text-align: right;
    }
}

.projects__header {
    margin-top: 8rem;
}

.projects__body {
    margin-bottom: 13rem;

    @include xs {
        margin-bottom: 8rem;
    }
}

.projects__tabs-container {
    display: flex;

    @include xs {
        width: 100%;
        justify-content: space-between;

        object {
            display: none;
        }
    }
}

.projects__tab {
    @include borderStyle(0, 1.5rem 1.5rem 0 0);
    background-color: $secondBorderLightGray;
    padding: 1.5rem 3rem 1.5rem 3rem;
    margin-left: 1rem;
    cursor: pointer;

    @include xs {
        background-color: $inactiveGreen;
        border-radius: 1.5rem;
        color: $secondGreen;
        white-space: nowrap;
        min-width: max-content;
        width: 100%;
    }
}

.projects__tab--active {
    background-color: $whiteColor;

    @include xs {
        color: $whiteColor;
        background-color: $secondGreen;
    }
}

.projects__content {
    display: none;

    @include xs {
        margin-top: 2rem;
    }
}

.projects__content--active {
    @include displayGrid(90%, center, .5rem 3rem);
    border-radius: 2rem 0 2rem 2rem;
    background-color: $whiteColor;

    @include xs {
        grid-template-columns: 100%;
    }
}

.projects__list {
    cursor: pointer;
    margin-bottom: 0;
    border-bottom: .1rem solid $firstBorderLightGray;
    border-radius: 0;
    padding: 2rem 4rem 0rem 4rem;
    transition: padding .5s ease, margin .5s ease;
}

.projects__list--active {
    @include borderStyle(.1rem solid $mainGreen, 1rem);
    margin-right: 0;
    margin-left: 0;
    padding: 2rem 4rem 8rem 4rem;
    transition: padding .5s ease, margin .5s ease;

    @include xs {
        padding: 2rem 4rem 2rem 4rem;
    }
}

.projects__list-container {
    @include xs {
        margin-top: 0;
    }
}

.projects__arrow-down {
    float: left;
    margin-top: .75rem;
    cursor: pointer;
    line-height: 50%;
}

.projects__feature {
    @include displayGrid(repeat(4, 1fr), center, 2rem);
    @include projectsShowHide(hidden, 0, 0);
    width: 90%;
    margin-right: 5%;
    cursor: default;

    @include xs {
        grid-template-columns: 1fr;
    }
}

.projects__feature--active {
    @include projectsShowHide(visible, max-content, 1);
}

.projects__item {
    @include projectFeatures($thirdLightColor, center);

    @include xs {
        grid-column: 1;
        width: 100%;
    }
}

.projects__item-icon {
    margin-top: 1rem;
}

.projects__item-title {
    margin-bottom: 0;
    margin-top: .5rem;
}

.projects__main-text {
    margin-top: 0;
}

.projects__item-description {
    @include projectFeatures($whiteColor, right);
    grid-column: 1 / span 4;
}

.projects__item-description-row {
    display: grid;
    grid-template-columns: auto 1fr;
}

.projects__item-description-icon {
    margin: 0 2rem 0 2rem;

    @include xs {
        margin: 0 0 0 2rem;
    }
}

.projects__item-description-title {
    align-self: center;
}

.projects__item-description-content {
    grid-column: 2 / span 1;

    @include xs {
        grid-column: 1 / span 2;
    }
}

.projects__item-footer {
    @include projectFeatures($whiteColor, right, calc(2rem - 1px));
    @include displayGrid(repeat(2, 1fr), center);
    @include borderStyle(.1rem solid $secondBorderLightGray, 1rem);
    grid-column: 1 / span 4;

    @include xs {
        grid-template-columns: 1fr;
    }
}

.projects__item-git {
    @include projectFeatures($whiteColor, right, 0);
    @include displayGrid(auto auto, right, 0);

    @include xs {
        grid-template-columns: .25fr auto;
    }
}

.projects__item-git-icon {
    margin: 0 2rem 0 2rem;

    @include xs {
        margin: 0;
    }
}

.projects__item-git-title {
    align-self: baseline;

    @include xs {
        align-self: center;
    }
}

.projects__item-git-content {
    grid-column: 2;
    margin: -3rem 0 0 2rem;

    @include xs {
        grid-column: 1 / span 2;
        margin: 0;
    }
}

.project__item-git-url {
    @include textStyle($fontSize16, $mainTextColor);
}

.projects__item-author {
    @include projectFeatures($whiteColor, left);
    direction: ltr;

    @include xs {
        display: none;
    }
}

.projects__author-specs {
    @include borderStyle(.1rem solid $firstBorderLightGray, 1rem);
    @include displayFlex(max-content, center);
    padding: .5rem 2rem .5rem 2rem;
}

.projects__author-name {
    margin-top: 1.25rem;
    margin-right: .5rem;
}

.projects__author-image {
    margin-top: .75rem;
}

.projects__item-btn {
    display: none;

    @include xs {
        display: block;
        color: $whiteColor;
        @include borderStyle(0, 1rem);
        @include widthAndBgColor(100%, $secondGreen);
        grid-column: 1/span 4;
        justify-self: center;
        padding: 1rem 0;
    }
}


.structure {
    @include section($secondLightColor, 60vh, 100%, center);
}

.structure__header {
    width: 70%;
    margin: auto;
    margin-top: 11rem;

    @include xs {
        width: 90%;
    }
}

.structure__title1 {
    @include xs {
        margin-bottom: 2rem;
    }
}

.structure__body {
    @include displayGrid(100%, center);
}

.structure__tabs {
    @include displayFlex(100%, center);
    border-bottom: .1rem solid $secondTextColor;
}

.structure__tabs-limiter {
    @include displayFlex(50%, space-between);

    @include xs {
        width: 100%;
    }
}

.structure__tab-container {
    position: relative;
    max-width: max-content;
}

.structure__tab {
    @include textStyle($fontSize18, $secondTextColor);
    background-color: inherit;
    border: none;
    padding: 1rem 0 1rem 0;
}

.structure__tab--active {
    border-bottom: .3rem solid $mainGreen;
    color: $forthDarkGreen;
}

.structure__tab-triangle {
    position: absolute;
    bottom: -6.11rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.structure__tab-triangle--active {
    display: block;

    @include xs {
        display: none;
    }
}

.structure__content-container {
    @include displayFlex(100%, center);
}

.structure__content-limiter {
    @include displayFlex(50%, space-between);
}

.structure__content {
    @include borderStyle(.3rem solid $mainGreen, 1rem);
    display: none;
    margin-top: 4rem;
    margin-bottom: 10rem;
    padding: 2rem;
    background-color: $whiteColor;
    width: 100%;
}

.structure__title {
    @include title($title2Size, $thirdDarkGreen);
}

.structure__content-text {
    @include textStyle($fontSize18, $structureContentText);
}

.structure__attendees {
    @include title($fontSize18, $mainGreen);
}

.structure__content--active {
    display: block;
}

.structure__description {
    @include xs {
        margin-top: 0;
    }
}

.description {
    @include textStyle($secondDarkGreen, $fontSize18);
    padding-top: 0;
}

.projects__description {
    text-align: center;

    @include xs {
        text-align: right;
    }
}

.register {
    @include section($whiteColor, 70vh, 50%, center);
}

.register__title {
    @include title($title2Size, $forthDarkGreen);
    margin-top: 12rem;
}

.register__form-part {
    background-color: $mainBackgroundColor;
    padding: 0.5rem 0 2.5rem 0;
    margin-bottom: 2.4rem;
    border-radius: 1.6rem;
}

.register__form-title {
    @include title($title3Size, $secondDarkGreen);

    .register__form-title-icon {
        float: right;
        margin-left: 2rem;
    }
}

.register__inputs-part {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr;
    row-gap: 2rem;
    padding: 3rem;
}

.register__label {
    @include lableStyle;
}

.register__label--required {
    @include lableStyle;

    &:after {
        content: ' *';
        color: $mainGreen;
    }
}

.register__upload-container {
    @include borderStyle(.2rem solid $inputBorder, 1.6rem);
    width: 100%;
    background-color: $whiteColor;
    float: right;

    input {
        width: auto;
        float: right;
        border: 0;
    }

    .register__btn--upload {
        @include textStyle($fontSize16, $secondTextColor);
        @include widthAndBgColor(auto, $secondLightColor);
        border-radius: 1.2rem;
        border-right: .2rem solid $inputBorder;
        padding: .5rem 1rem;
        float: left;
    }

    &:hover {
        @extend .register__upload-container--active;
    }
}

.register__upload-container--active {
    @include borderStyle(.2rem solid $mainGreen, 1.6rem);

    input {
        color: $mainGreen;
    }

    .register__btn--upload {
        background-color: $mainGreen;
        color: $whiteColor;
        cursor: pointer;
    }
}

.register__upload-container--error {
    @include borderStyle(.2rem solid $errorColor, 1.6rem);

    input {
        color: $errorColor;
    }

    .register__btn--upload {
        background-color: $secondLightColor;
        color: $errorColor;
        border-right: .2rem solid $errorColor;
    }
}


.register__upload-hint {
    color: $secondTextColor;
    align-self: start;
    justify-self: end;
    margin-top: -1.8rem;
}

.register__upload-hint--1 {
    @extend .register__upload-hint;
    grid-column: 1 / span 2;
}

.register__upload-hint--2 {
    @extend .register__upload-hint;
    grid-column: 3 / span 4;
}

.register__select {
    @extend input;
}

.register__text-area {
    @include borderStyle(.1rem solid $inputBorder, 1.2rem);
    @include textStyle($fontSize16, $secondTextColor, $fontFamily);
    grid-column: 1 / span 4;
    padding: 1.3rem 2.4rem;

    &::placeholder {
        color: $secondTextColor;
    }

    &:focus-visible {
        outline: none;
    }
}

.register__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13rem;
}

.register__tip {
    color: $mainGreen;
}

.register__btn--submit {
    @include textStyle($fontSize16, $whiteColor);
    @include widthAndBgColor(18rem, $mainGreen);
    @include borderStyle(.1rem solid $registerBorder, 1.2rem);
    height: max-content;
    padding: .75rem;

    &:hover {
        background-color: $fifthGreen;
    }

    &:disabled {
        cursor: default;
        background-color: $secondLightColor;
        color: $secondTextColor;
    }
}

.footer {
    @include section(inherit, 35rem, 60%, center);
}

.footer__title {
    @include title($title1Size, $forthDarkGreen);
    text-align: center;
    margin-top: 5rem;
}

.footer__slider {
    position: relative;
    overflow: hidden;
}

.footer__slides-container {
    padding: 0 10%;
    display: flex;
    justify-content: center;
}

.footer__slide {
    flex: 1 1 calc(100% / 7);
    text-align: center;
}

.footer__arrow-left {
    @include sliderArrow;
    left: 0;
}

.footer__arrow-right {
    @include sliderArrow;
    right: 0;
}